html {
	font-family: $helvetica;
	background-color: $primary;
}

.btn1 {
	@include button($background, $font);
}
.btn1:focus {
    -webkit-animation: gun .25s ease-in-out forwards;
    animation: gun .25s ease-in-out forwards;
}
@-webkit-keyframes gun {  
    0% {
     left: 5em;   
    }
    50% {
	 left:4.5em;
	}
	100% {
      left: 5em;
    }
}
@keyframes gun {
    0% {
     left: 5em;   
    }
    50% {
	 left:4.5em;
	}
	100% {
      left: 5em;
    }
}
